h1{
	color: black;
	text-align: center;
	font-family: Arial;
	font-size: 32px;

}

body{ 
	color: black;
	background-color: white;
	text-align: center;
	justify-content: safe center;
	font-familt: Arial;
 }


.c1 {
	height: 125px;
	width: 125px;
	border-radius: 50%;
	border: 4px solid black;
	margin: auto;
	background: lightskyblue;
}

.c2 {
	height: 125px;
	width: 125px;
	margin: auto;
	border-radius: 50%;
	background: palegreen;
}

.c3 {
	height: 125px;
	width: 125px;
	border-radius: 50%;
	border: 4px solid black;
	margin: auto;
	background: mediumpurple;
}

button {
	margin: 10px;
}

.bstyle {
	background: transparent;
	border: 2px solid white;
}

.c2:hover {

	border: 4px solid black;
}

.container1{
	display:  flex;
	justify-content: space-evenly;
}